body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: brown;
    background-color: aquamarine;
}

li {
    font-size: medium;
    font-style: italic;

}
a {
    color: blue;
}

.homebg {
    background-image: url('images/main-background.jpg');
    background-size: 150% 150%; 
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    background-color: #333;
    text-align: center;
    padding: 20px;
}

.header h1 {
    font-size: 2em;
    color: #faf6f6;
}

.header nav a {
    color: blue;
    text-decoration: none;
    margin: 0 10px;
}

.header nav a:hover {
    text-decoration: underline;
}


.main-content {
    background-color: #f0f8ff;
    padding: 20px;
    margin: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.main-content h2 {
    font-size: 1.5em;
    color: #333;
}

.main-content h3 {
    font-size: 1.2em;
    color: #666;
}

.main-content ol {
    padding-left: 20px;
}

.main-content ul {
    padding-left: 20px;
}


.footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer a {
    color: #333;
}